SCHEMATIC START ;
// created by map version G.23 on Fri Jul 18 09:55:42 2014 
MACRO "XLXI_103/hset" LOCATE = SITE "CLB_R7C26.S0" LEVEL 1;
MACRO "XLXI_131/hset" LOCATE = SITE "CLB_R27C9.S1" LEVEL 1;
MACRO "XLXI_104/hset" LOCATE = SITE "CLB_R16C4.S1" LEVEL 1;
COMP "teststop" LOCATE =  SITE "P138" LEVEL 1; 
COMP "stop_pulses<0>" LOCATE =  SITE "P44" LEVEL 1; 
COMP "stop_pulses<1>" LOCATE =  SITE "P36" LEVEL 1; 
COMP "stop_pulses<2>" LOCATE =  SITE "P20" LEVEL 1; 
COMP "start_sync_in" LOCATE =  SITE "P63" LEVEL 1; 
COMP "stop_pulses<3>" LOCATE =  SITE "P10" LEVEL 1; 
COMP "rx_uc" LOCATE =  SITE "P133" LEVEL 1; 
COMP "tx_uc" LOCATE =  SITE "P132" LEVEL 1; 
COMP "DACout" LOCATE =  SITE "P191" LEVEL 1; 
COMP "clk" LOCATE =  SITE "P80" LEVEL 1; 
COMP "dev_addr<0>" LOCATE =  SITE "P189" LEVEL 1; 
COMP "dev_addr<1>" LOCATE =  SITE "P187" LEVEL 1; 
COMP "dev_addr<2>" LOCATE =  SITE "P182" LEVEL 1; 
COMP "dev_addr<3>" LOCATE =  SITE "P175" LEVEL 1; 
COMP "Clock_Mul_XLXI_1" LOCATE =  SITE "DLL0" LEVEL 1; 
COMP "Clock_Mul_XLXI_2" LOCATE =  SITE "DLL1" LEVEL 1; 
COMP "Clock_Mul_XLXI_4" LOCATE =  SITE "GCLKBUF0" LEVEL 1; 
COMP "Clock_Mul_XLXI_5" LOCATE =  SITE "GCLKBUF1" LEVEL 1; 
SCHEMATIC END ;
