SCHEMATIC START ;
// created by map version G.23 on Tue Jun 04 15:00:18 2013 
MACRO "start_vernier/hset" LOCATE = SITE "CLB_R27C9.S1" LEVEL 1;
MACRO "Main_Reading/hset" LOCATE = SITE "CLB_R7C26.S0" LEVEL 1;
MACRO "XLXI_29/hset" LOCATE = SITE "CLB_R8C4.S1" LEVEL 1;
COMP "clkout1" LOCATE =  SITE "P88" LEVEL 1; 
COMP "clkout2" LOCATE =  SITE "P178" LEVEL 1; 
COMP "startout1" LOCATE =  SITE "P71" LEVEL 1; 
COMP "startout2" LOCATE =  SITE "P194" LEVEL 1; 
COMP "DAC2_start" LOCATE =  SITE "P99" LEVEL 1; 
COMP "stop_pulses<0>" LOCATE =  SITE "P48" LEVEL 1; 
COMP "stop_pulses<1>" LOCATE =  SITE "P44" LEVEL 1; 
COMP "stop_pulses<2>" LOCATE =  SITE "P37" LEVEL 1; 
COMP "stop_pulses<3>" LOCATE =  SITE "P33" LEVEL 1; 
COMP "stop_pulses<4>" LOCATE =  SITE "P29" LEVEL 1; 
COMP "stop_pulses<5>" LOCATE =  SITE "P22" LEVEL 1; 
COMP "stop_pulses<6>" LOCATE =  SITE "P18" LEVEL 1; 
COMP "stop_pulses<7>" LOCATE =  SITE "P14" LEVEL 1; 
COMP "rx_pc" LOCATE =  SITE "P148" LEVEL 1; 
COMP "rx_uc" LOCATE =  SITE "P127" LEVEL 1; 
COMP "rx_pr" LOCATE =  SITE "P136" LEVEL 1; 
COMP "start_pulse" LOCATE =  SITE "P58" LEVEL 1; 
COMP "tx_pc" LOCATE =  SITE "P150" LEVEL 1; 
COMP "tx_uc" LOCATE =  SITE "P133" LEVEL 1; 
COMP "tx_pr" LOCATE =  SITE "P139" LEVEL 1; 
COMP "DAC1_stop" LOCATE =  SITE "P200" LEVEL 1; 
COMP "sel0" LOCATE =  SITE "P134" LEVEL 1; 
COMP "sel1" LOCATE =  SITE "P122" LEVEL 1; 
COMP "intr" LOCATE =  SITE "P120" LEVEL 1; 
COMP "clk" LOCATE =  SITE "P80" LEVEL 1; 
COMP "fpgasel<0>" LOCATE =  SITE "P109" LEVEL 1; 
COMP "fpgasel<1>" LOCATE =  SITE "P111" LEVEL 1; 
COMP "fpgasel<2>" LOCATE =  SITE "P113" LEVEL 1; 
COMP "Control_Unit1_Clock_Mul_XLXI_1" LOCATE =  SITE "DLL0" LEVEL 1; 
COMP "Control_Unit1_Clock_Mul_XLXI_2" LOCATE =  SITE "DLL1" LEVEL 1; 
COMP "Control_Unit1_Clock_Mul_XLXI_4" LOCATE =  SITE "GCLKBUF0" LEVEL 1; 
COMP "Control_Unit1_Clock_Mul_XLXI_5" LOCATE =  SITE "GCLKBUF1" LEVEL 1; 
SCHEMATIC END ;
