*****************************************************************************
*                                                                           *
* DRILL TAPE SUMMARY REPORT                                                 *
*                                                                           *
* E:\MUSHTAQ PCB\SAJJAD HUSSAIN\CHRONO32C\CHRONO32C_MC_R1\MC_BOARD3-53.MAX  *
* Wed Sep 19 14:04:03 2012                                                  *
*                                                                           *
*****************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      103      200      100                                                                                 
T2       370      74       200      100                                                                                 
T3       500      12       200      100                                                                                 
T4       550      4        200      100                                                                                 
T5       1370     6        200      100                                                                                 
