SCHEMATIC START ;
// created by map version G.23 on Fri Jul 18 11:48:41 2014 
MACRO "XLXI_120/hset" LOCATE = SITE "CLB_R27C7.S1" LEVEL 1;
COMP "clkout1" LOCATE =  SITE "P97" LEVEL 1; 
COMP "clkout2" LOCATE =  SITE "P94" LEVEL 1; 
COMP "startout1" LOCATE =  SITE "P68" LEVEL 1; 
COMP "startout2" LOCATE =  SITE "P71" LEVEL 1; 
COMP "rx_stop" LOCATE =  SITE "P108" LEVEL 1; 
COMP "tx_stop" LOCATE =  SITE "P110" LEVEL 1; 
COMP "rx_pc" LOCATE =  SITE "P120" LEVEL 1; 
COMP "rx_uc" LOCATE =  SITE "P161" LEVEL 1; 
COMP "rx_pr" LOCATE =  SITE "P115" LEVEL 1; 
COMP "start_pulse" LOCATE =  SITE "P48" LEVEL 1; 
COMP "tx_pc" LOCATE =  SITE "P119" LEVEL 1; 
COMP "tx_uc" LOCATE =  SITE "P162" LEVEL 1; 
COMP "tx_pr" LOCATE =  SITE "P114" LEVEL 1; 
COMP "DACout" LOCATE =  SITE "P3" LEVEL 1; 
COMP "sel0" LOCATE =  SITE "P150" LEVEL 1; 
COMP "sel1" LOCATE =  SITE "P149" LEVEL 1; 
COMP "intr" LOCATE =  SITE "P148" LEVEL 1; 
COMP "clk" LOCATE =  SITE "P80" LEVEL 1; 
COMP "dev_addr<0>" LOCATE =  SITE "P135" LEVEL 1; 
COMP "dev_addr<1>" LOCATE =  SITE "P134" LEVEL 1; 
COMP "dev_addr<2>" LOCATE =  SITE "P133" LEVEL 1; 
COMP "tst_stop_pulse" LOCATE =  SITE "P112" LEVEL 1; 
COMP "dev_addr<3>" LOCATE =  SITE "P132" LEVEL 1; 
COMP "Clock_Mul_XLXI_1" LOCATE =  SITE "DLL0" LEVEL 1; 
COMP "Clock_Mul_XLXI_2" LOCATE =  SITE "DLL1" LEVEL 1; 
COMP "Clock_Mul_XLXI_4" LOCATE =  SITE "GCLKBUF0" LEVEL 1; 
COMP "Clock_Mul_XLXI_5" LOCATE =  SITE "GCLKBUF1" LEVEL 1; 
SCHEMATIC END ;
