************************************************************************************
*                                                                                  *
* DRILL TAPE SUMMARY REPORT                                                        *
*                                                                                  *
* E:\MUSHTAQ PCB\SAJJAD HUSSAIN\CHRONO32C\CHRONO-32C-TDC_R0\TDC_16CHANNELN-62.MAX  *
* Fri Oct 19 14:51:30 2012                                                         *
*                                                                                  *
************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       180      584      200      100                                                                                 
T2       280      6        200      100                                                                                 
T3       300      12       200      100                                                                                 
T4       340      8        200      100                                                                                 
T5       350      35       200      100                                                                                 
T6       370      17       200      100                                                                                 
T7       390      6        200      100                                                                                 
T8       420      3        200      100                                                                                 
T9       540      20       200      100                                                                                 
T10      550      17       200      100                                                                                 
T11      920      34       200      100                                                                                 
T12      1180     12       200      100                                                                                 
T13      5118     2        200      100                                                                                 
