**********************************************************************************************
*                                                                                            *
* DRILL TAPE SUMMARY REPORT                                                                  *
*                                                                                            *
* C:\DOCUMENTS AND SETTINGS\MUSHTAQ KHAN\DESKTOP\CHRONO-32C-TDC_R0000\TDC_16CHANNELN-57.MAX  *
* Wed Sep 26 14:52:58 2012                                                                   *
*                                                                                            *
**********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       180      588      200      100                                                                                 
T2       280      4        200      100                                                                                 
T3       300      12       200      100                                                                                 
T4       340      8        200      100                                                                                 
T5       370      52       200      100                                                                                 
T6       390      6        200      100                                                                                 
T7       540      20       200      100                                                                                 
T8       550      20       200      100                                                                                 
T9       600      3        200      100                                                                                 
T10      920      34       200      100                                                                                 
T11      1180     12       200      100                                                                                 
T12      5118     2        200      100                                                                                 
